body {
  font-family: 'PingFang SC', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e272e;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #afafaf;
}

.container {
  background-color: #2d3a47;
  padding: 30px;
  padding-right: 70px;
  padding-left: 70px;
  border-radius: 17px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.31);
  text-align: center;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border: none;
  color: rgb(216, 216, 216);
  background-color: #585858;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 17px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}

.button-on {
  border: none;
  color: rgb(196, 196, 196);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
  background-color: #3b6d5e;
}

.button-off {
  border: none;
  color: rgb(196, 196, 196);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
  background-color: #684b47;
}

.button:hover {
  transform: scale(1.05);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input[type=range] {
  width: 60%; /* 调整滑动条宽度，使其和按钮更好地对齐 */
  margin: 20px 10px; /* 调整滑动条左右间距 */
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s, transform 0.7s ease-out;
}

input[type=range]:hover {
  opacity: 1;
  transform: scale(1.07);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3498db;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3498db;
  cursor: pointer;
}

label {
  display: block;
  margin-top: 5px;
  font-size: 1.0rem;
  color: #9c9c9c;
}
